@import "tailwindcss";

body {
  @apply bg-zinc-200;
}
.success {
  background-color: var(--color-lime-400);
}
.error {
  background-color: var(--color-red-400);
}
.info {
  background-color: var(--color-blue-400);
}
.warning {
  background-color: var(--color-yellow-400);
}
.article .editorCode {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}
@media (max-width: 768px) {
  .article .editorCode {
    max-height: 400px;
    scrollbar-width: auto;
  }
}

@media (max-width: 480px) {
  .article .editorCode {
    max-height: 300px;
    scrollbar-width: auto;
  }
}
.editorCode {
  background-color: #323d4f;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  font-size: 12px;
  margin: 8px 0 12px 0;
  tab-size: 2;
  color: rgb(134, 251, 245);
  border-radius: 5;
  overflow-x: auto;
  position: relative;
}

.editorCode::before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #323d4f;
  left: 0;
  top: 0;
  padding: 8px;
  border-right: 1px solid rgb(74, 74, 74);
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editorCode::after {
  content: attr(data-highlight-language);
  position: absolute;
  top: 0;
  right: 3px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: rgba(244, 244, 244, 0.5);
}
.editorTokenComment {
  color: #6a9955;
  font-style: italic;
}

.editorTokenKeyword {
  color: #569cd6;
}

.editorTokenOperator {
  color: #d4d4d4;
}

.editorTokenFunction {
  color: #dcdcaa;
}

.editorTokenString {
  color: #ce9178;
}

.editorTokenNumber {
  color: #b5cea8;
}

.editorTokenAttr {
  color: #9cdcfe;
}

.editorTokenTag {
  color: #569cd6;
}

.editorTokenProperty {
  color: #9cdcfe;
}

.editorTokenClassName {
  color: #4ec9b0;
}

.editorTokenPunctuation {
  color: #d4d4d4;
}

.editorTokenBoolean {
  color: #569cd6;
}

.editorTokenRegex {
  color: #d16969;
}

.editorTokenVariable {
  color: #9cdcfe;
}
